<sidebar content="'evaluaciones'"></sidebar>
<div id="right-panel" class="right-panel">
  <header-component></header-component>
  <div class="content pb-0">
    <div class="row">
      <div class="card w-100">
        <div class="card-header">
          <strong class="card-title">Evaluacion </strong> Resuelta
        </div>
        <div class="card-body">
          <div id="pay-invoice">
            <div class="card-body">
              <div class="card-title">
                <h3 class="text-center" ng-if="vm.evaluacionResuelta">
                  {{vm.evaluacionResuelta.evaluacion.titulo}} |
                  {{vm.evaluacionResuelta.evaluacion.curso.nombre}}
                </h3>
              </div>
              <hr />
              <form>
                <div
                  ng-repeat="p in vm.evaluacionResuelta.evaluacion.preguntas"
                  ng-init="preguntaIndex = $index"
                >
                  <hr />
                  <div class="row">
                    <label class="form-control-label"
                      >Pregunta {{preguntaIndex + 1}} -
                      <strong>{{p.titulo}}</strong>
                    </label>
                  </div>
                  <div class="">
                    <div
                      class="radio"
                      ng-repeat="r in vm.evaluacionResuelta.evaluacion_resuelta_respuestas_seleccionadas"
                      ng-if="r.respuesta.pregunta === vm.evaluacionResuelta.evaluacion.preguntas[preguntaIndex].id"
                      >
                      <label
                        for="respuesta{{preguntaIndex}}{{respuestaIndex}}"
                        class="form-check-label"
                      >
                      {{r.respuesta.titulo}} 
                      <strong class="text-success" ng-if="r.respuesta.correcto">Correcto</strong>
                      <strong class="text-danger" ng-if="!r.respuesta.correcto">Incorrecto</strong>
                      </label>
                    </div>
                  </div>
                  <hr />
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button
            type="submit"
            class="btn btn-primary btn-sm"
            ng-click="vm.resolverEvaluacion()"
          >
            <i class="fa fa-dot-circle-o"></i> Guardar respuestas
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
